{% extends 'base.html' %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet"
      href=" https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/cosmo/bootstrap.min.css ">
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <!-- Plugins -->
  </head>

  <body>




    <section class="pt-5 pb-5 bg-light">
      <div class="container">
        <div class="row mb-md-4">
          <div class="col-12 col-lg-8 text-center text-lg-start">
            
            <h2 class=" ">Bienvenido</h2>
            <h3 class="text-primary medium">{{user.username}}</h3>
            <p class="lead">
              Para ingresar a una de las opciones da click en el icono.
            </p>
          </div>
        </div>
        <div class="row d-flex mb-5">
          <div class="col-10 mx-auto col-md-4">
            <div class="my-3 card card-body shadow p-4 ">
              <div
                class="row align-items-center d-flex text-md-center text-lg-start">
                <div class="col-12 col-sm-3 col-md-3 text-center px-0">
                  <div class="icon-wrap text-primary my-3">
                    <i
                      class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-archive fa-lg"></i>
                  </div>
                </div>
                <div class="col-12 col-md-9 mt-3 mt-lg-0">
                  <h4 class="">
                    Ver todos los tickets
                  </h4>
                  <p class=" mb-0">
                    Aqui se visualizara cada uno de los tickets que el publico haya subido a la plataforma
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 mx-auto col-md-4">
            <div class="my-3 card card-body shadow p-4">
              <div class="row align-items-center text-md-center text-lg-start">
                <div class="col-12 col-sm-3 col-md-3 text-center px-0">
                  <div class="icon-wrap text-primary my-3">
                    <i
                      class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-lock fa-lg"></i>
                  </div>
                </div>
                <div class="col-12 col-md-9 mt-3 mt-lg-0">
                  <h4 class="">
                    Mi espacio de trabajo
                  </h4>
                  <p class="  mb-0">
                    Aqui veras todos los tickets que tengas asignados
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 mx-auto col-md-4">
            <div class="my-3 card card-body shadow p-4">
              <div class="row align-items-center text-md-center text-lg-start">
                <div class="col-12 col-sm-3 col-md-3 text-center px-0">
                  <div class="icon-wrap text-primary my-3">
                    <i
                      class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-mobile fa-lg"></i>
                  </div>
                </div>
                <div class="col-12 col-md-9 mt-3 mt-lg-0">
                  <h4 class="">
                    Estadisticas
                  </h4>
                  <p class="  sm-font-size text-dark-gray mb-0">
                    Aqui veras un resumen de todos los tickets que tengas asignados 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-3 align-items-center justify-content-center">
          <div class="col text-center">
            <a href="#"
              class="btn btn-primary  btn-rounded shadow py-3 px-5">Lorem
              Ipsum</a>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>


  </body>

</html>
{% endblock %}