{% extends 'base.html' %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}
<!DOCTYPE html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
  
</head>

<body>




  <section class="pt-5 pb-5">
    <grammarly-extension data-grammarly-shadow-root="true"
      style="position: absolute; top: 0px; left: 0px; pointer-events: none;" class="cGcvT"></grammarly-extension>
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-7">
          <h1>Reportar un problema</h1>
          <p class="text-h3">Proporciona cualquier enlace externo a recursos que puedan proporcionar contexto adicional. (Por ejemplo: Foros, Imgur, Reddit, Pastebin, Youtube, etc.)
          </p>
        </div>
      </div>
      {% if messages %}
              <ul class="messages">
                {% for message in messages%}
                <li {% if message.tag%} class="{{message.tags}}" {% endif%}>{{message}}</li>
                {% endfor %}
              </ul>

      {% endif %}
      <div class="row pt-4">
        <div class="col-12 col-md-6">
          <iframe class="map" id="googleMap"
            src="https://maps.google.com/maps?q=31214&t=&z=13&ie=UTF8&iwloc=&output=embed"
            width="100%" height="600" frameborder="0" style="border:0"
            allowfullscreen=""></iframe>
        </div>
        <div class="col-12 col-md-6 pt-5 pt-md-0">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ ticketform.resumen.id_for_label }}">Resumen</label>
              {{ ticketform.resumen|add_class:"form-control" }}
            </div>
            <div class="form-group">
              <label for="{{ ticketform.descripcion.id_for_label }}">Descripcion</label>
              {{ ticketform.descripcion|add_class:"form-control" }}
            </div>
            <div class="form-group">
              <label for="{{ ticketform.direccion.id_for_label }}">Direccion</label>
              {{ ticketform.direccion|add_class:"form-control" }}
            </div>
            <div class="form-group">
              <label for="{{ archivosform.archivos.id_for_label }}">Adjuntar archivos</label>
              {{ archivosform.archivos|add_class:"form-control" }}
            </div>

            
            <button type="submit">Guardar</button>
           </form>
        </div>
      </div>
    </div>
  </section>

  
    <script>
      $(document).ready(function(){
        
        console.log("Esta cambiando")
        $('#direccionField').change(function(){
          var str = $("#direccionField").val();
          console.log("Esta cambiando",str)
          $('#googleMap').attr('src', "https://maps.google.com/maps?q="+str+"&t=&z=13&ie=UTF8&iwloc=&output=embed");
          
        })
        
      });

    </script>


</body>

</html>
{% endblock %}