{% extends 'base.html' %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}
<!DOCTYPE html>

<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <style>
    .titulo {
      background-color: #1C5DA6;
      border-radius: 20px;
      padding: 10px;
      font-family: arial;
    }

    h1 {
      color: white;
      font-size: xxx-large;
    }
  </style>
</head>

<body>
  <!-- encabezado -->
  <div class="titulo" align="center">
    <h1>Tickets de la plataforma</h1>
  </div>
  <!-- contenido -->

  <div align="center">
    <div style="width:70%">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              #
            </th>
            <th scope="col">
              Resumen
            </th>
            <th scope="col">
              Fecha de creacion
            </th>
            <th scope="col">
              Status ticket
            </th>
            <th scope="col">
              Nivel de prioridad
            </th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in tickets %}
          <tr>

            <td scope="row">{{ ticket.id}}</td>
            <td scope="row">{{ ticket.resumen }}</td>
            <td scope="row">{{ ticket.fechaCreacion }}</td>
            <td scope="row">{{ ticket.statusTicket }}</td>
            <td scope="row">{{ ticket.nivelPrioridad }}</td>
            <td>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detallesTicketModalCenter{{ticket.id}}"
                value="{{ticket.id}}">
                Ver detalles
              </button>

              <!-- Modal -->
              <div class="modal fade" id="detallesTicketModalCenter{{ticket.id}}" tabindex="-1" role="dialog"
                aria-labelledby="detallesTicketModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <form action="{% url 'updateTicket' %}" method="post">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="detallesTicketModalLongTitle">Detalles Ticket {{ ticket.id }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                      {% csrf_token %}
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                                 
                              <label for="exampleInputEmail1">
                                ID
                              </label>
                              <input type="number" class="form-control" id="resumen{{ticket.id}}" name="id" value="{{ticket.id}}" />
                            </div>

                              <div class="form-group">
                                 
                                <label for="exampleInputEmail1">
                                  Resumen
                                </label>
                                <input type="text" class="form-control" id="resumen{{ticket.resumen}}" name="resumen" value="{{ticket.resumen}}" />
                                
                              </div>
                              <div class="form-group">
                                <label for="exampleInputEmail1">
                                  Descripcion
                                </label>
                                <br>
                                <textarea id="resumen{{ticket.descripcion}}" name="resumen"  cols="30" rows="10">{{ticket.descripcion}}</textarea>
                              </div>
                              
                              <div class="form-group">
                                <label >Status</label>
                                <br>
                                <select class="form-select" aria-label="Default select example">
                                  <option selected>Open this select menu</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </div>

                              <div class="form-group">
                                <label>Prioridad</label>
                                <br>
                                <select class="form-select" aria-label="Default select example">
                                  <option selected>Open this select menu</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </div>

                              <div class="form-group">
                                <label>Encargado</label>
                                <br>
                                <select class="form-select" aria-label="Default select example">
                                  <option selected>Open this select menu</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </div>

                            
                             
                            
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <button type="submit" class="btn btn-primary">Actualizar ticket</button>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- formulario -->

    </div>
  </div>
  <script>
    $(document).ready(function () {


    });

  </script>

</body>

</html>
{% endblock %}