{% extends 'base.html' %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<!DOCTYPE html>
  <head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
      .titulo{
        background-color: #286150;
        border-radius: 20px;
        padding: 10px;
        font-family: arial;
      }
      h1{
        color:white;
        font-size: xxx-large;
      }
    </style>
  </head>
  <body>
    <!-- encabezado -->
    <div class="titulo" align="center">
      <h1>Libros</h1>
    </div>
    <!-- contenido -->
    
    <div align="center">
      <div style="width:70%">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                #
              </th>
              <th scope="col">
                Titulo
              </th>
              <th scope="col">
                Edicion
              </th>
              <th scope="col">
                Editorial
              </th>
              <th scope="col">
                Año de publicacion
              </th>
              <th scope="col">
                No. Paginas
              </th>
            </tr>
          </thead>
          <tbody>
            {% for libro in libros %}
            <tr>
              
                <td scope="row">{{ libro.id}}</td>
                <td scope="row">{{ libro.titulo }}</td>
                <td scope="row">{{ libro.edicion }}</td>
                <td scope="row">{{ libro.editorial }}</td>
                <td scope="row">{{ libro.anio_de_publicacion }}</td>
                <td scope="row">{{ libro.paginas }}</td>
                <td>
                  <form method='post' id='form-eliminar' action='{% url 'eliminar_libro' libro.pk %}'>
                    <input type='hidden' name='libro-id' value'{{ libro.pk}}'>
                    <button type='button' class='btn btn-danger' id='btn-confirmar-eliminar'>Eliminar</button>
                    <div class='dropdown' id='dropdown-confirmscion' style='display:none;'>
                      <button class='btn btn-primary dropdown-toggle' type='button' id='dropdownMenuButtton' data-toggle='dropdown' aria-expanded='false'>
                        Confirmar eliminacion
                      </button>
                      <div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
                        <button class='dropdown-item' type='submit'>  Si, eliminar  </button>
                        <button class='dropdown-item' type='button'>  Cancelar  </button>
                      </div>
                    </div>

                  </form>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      <!-- formulario -->
      
      </div>
    </div>
    

  </body>
</html>
{% endblock %}